<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
	
	<title>Sistema Escolar - Listar Instituições</title>
</head>
<body>
<!-- Conteúdo -->	
	<div layout:fragment="content">
		<h3>Listar Instituições</h3>
		
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">Sigla</th>
					<th scope="col">Diretor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="instituicao : ${instituicoes}">
					<td th:text="${instituicao.id}"></td>
					<td><a th:href="${(#mvc.url('EC#detalhesInstituicao').arg(0, instituicao.id)).build()}"><span th:text="${instituicao.nome}"></span></a></td>
					<td th:text="${instituicao.nome}"></td>
					<td th:text="${instituicao.sigla}"></td>
					<td th:text="${instituicao.diretor}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>