<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html"/>
	
	<title>Sistema Escolar - Cadastro de Unidades Escolares</title>
</head>

<body>
	
	<!-- Conteúdo -->
	<div layout:fragment="content">
	
	<h1>Cadastro de Unidades Escolares</h1>
	
	<form method="post">
		<div class="form-group">
			<label for="unidadeEscolarInput">Nome:</label> 
			<input type="text" class="form-control" name="unidadeEscolar">
		</div>
		
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="cnpjInput">CNPJ:</label> 
				<input type="number" class="form-control" name="cnpj">
			</div>
		</div>

		<button class="btn btn-primary mb-2" type="submit">Salvar</button>
	</form>
	</div>
	
</body>
</html>