<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html"/>
	
	<title>Sistema Escolar - Lista de Unidades Escolares</title>
</head>

<body>
	
	<!-- Conteúdo -->
	<div layout:fragment="content">
	
	<h1>Lista de Unidades Escolares</h1>
	
	<table class="table table-borderless">
		<thead>
			<tr>
				<th>Id</th>
				<th>Unidade Escolar</th>
				<th>CNPJ</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="unidadeEscolar : ${unidadesEscolares}">
				<td>${unidadeEscola.id}</td>
				<td>${unidadeEscolar.unidadeEscolar}</td>
				<td>${unidadeEscolar.cnpj}</td>
			</tr>
		</tbody>
	</table>
	
	</div>
	
</body>
</html>