<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Sistema Escolar - Cadastro de Aluno</title>
</head>
<body>
	<h1>Cadastro de Aluno</h1>
	<form method="post">
		Matricula: <input type="number" value="" name="nome">
		Nome: <input type="text" value="" name="nome">
		
		Endereço
		<p class="divider"></p>
		Rua: <input type="text" value="" name="rua">
		Bairro: <input type="text" value="" name="bairro">
		CEP: <input type="text" value="" name="cep">
		Ponto de Referência <input type="text" value="" name="pontoreferencia">
		
		
		<button type="submit">Salvar</button>
	</form>
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>