<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
	
	<title>Sistema Escolar - Lista de Alunos</title>
</head>
<body>
	
	<!-- Conteúdo -->	
	<div layout:fragment="content">
		<h1>Lista de Professores</h1>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Id</th>
					<th>Matricula</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="profesor : ${professores}">
					<td>${professor.id}</td>
					<td>${professor.matricula}</td>
					<td>${professor.nome}</td>			
				</tr>
			</tbody>
		</table>

	</div>
	
</body>
</html>