<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sistema Escolar - Cadastro de Usuários</title>
</head>
<body>
	<header>
		<!-- Navegação -->
		<nav class="blue lighten-1">
			<div class="nav-wrapper lighten-2">
				<a href="/escolar" class="brand-logo">Sistema Escolar</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light btn"><i
							class="material-icons left">exit_to_app</i>Sair</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Conteúdo -->
	<main>
	<h1>Cadastro de Usuários</h1>
	<form method="post">
		Usuário: <input type="text" value="login"><br> Nome: <input
			type="text" value="nomeCompleto"><br> Senha: <input
			type="password" value="senha"><br>

		<button type="submit">Salvar</button>
	</form>
	</main>
	<!-- Footer -->
	<footer class="page-footer blue darken-3">
		<div class="footer-copyright">
			<div class="container">
				<p class="grey-text text-lighten-4 right">Sistema Escolar © 2019</p>
			</div>
		</div>
	</footer>
</body>
</html>