<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html"/>
	
	<title>Sistema Escolar - Lista de Usuários</title>
</head>

<body>
		
	<!-- Conteúdo -->
	<div layout:fragment="content">
	
	<h1>Lista de Usuários</h1>
	
	<table class="table table-borderless">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Login</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuario}">
				<td th:number="${usuario.id}"></td>
				<td th:text="${usuario.login}"></td>
				<td th:text="${usuario.nomeCompleto}"></td>
			</tr>
		</tbody>
	</table>
	
	</div>
</body>
</html>