<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sistema Escolar</title>
</head>

<body>
	<h1>Tela Inicial</h1>
	
	<h3>Alunos</h3>
	<ul>
		<li><a href="listarAluno">Listar Alunos</a></li>
		<li><a href="cadastrarAluno">Cadastrar Alunos</a></li>
	</ul>
	
	<h3>Eventos</h3>
	<ul>
		<li><a href="listarEvento">Listar Eventos</a></li>
		<li><a href="cadastrarEvento">Cadastrar Eventos</a></li>
	</ul>
	
	<h3>Controle de Acesso</h3>
	<ul>	
		<li><a href="listarUsuario">Listar Usuários</a></li>
		<li><a href="cadastrarUsuario">Cadastrar Usuários</a></li>
		<li><a href="listarRole">Listar Permissões</a></li>
		<li><a href="cadastrarRole">Cadastrar Permissões</a></li>
	</ul>
	
</body>
</html>