<!DOCTYPE html>
<html	
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    
	<!-- Bootstrap CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	
	<!-- Icons Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
	<!-- Custom styles for this template -->
    <link href="style/style.css" rel="stylesheet">

	<!-- FavIcon -->	
	<link rel="icon" href="image/book.ico">

	<title>Sistema Escolar</title>
</head>

<body>
	<header>
		<!-- Navegação -->
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0378C5">
			<a class="navbar-brand" href="/">Sistema </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Escolar</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="instituicao/inserirInstituicao">Cadastrar Instituição</a> 
							<a class="dropdown-item" href="instituicao/listarInstituicao">Listar Instituição</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="unidadeescolar/inserirUnidadeEscolar">Cadastrar Unidade Escolar</a> 
							<a class="dropdown-item" href="unidadeescolar/listarUnidadeEscolar">Listar Unidade Escolar</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="evento/inserirEvento">Cadastrar Eventos</a> 
							<a class="dropdown-item" href="evento/listarEvento">Listar Eventos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Cadastrar Ano Letivo</a> 
							<a class="dropdown-item" href="#">Listar Ano Letivo</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Cadastrar Modulo</a> 
							<a class="dropdown-item" href="#">Listar Modulo</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a	class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false"> Alunos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="aluno/insertAluno">Cadastrar</a> 
							<a class="dropdown-item" href="aluno/listAluno">Listar</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Efetivo</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="professor/insertProfessor">Cadastrar Professor</a> 
							<a class="dropdown-item" href="professor/listProfessor">Listar Professores</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Cadastrar Funcionário</a> 
							<a class="dropdown-item" href="#">Listar Funcionários</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Configurações</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Cadastrar</a> 
							<a class="dropdown-item" href="#">Listar</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Cadastrar</a> 
							<a class="dropdown-item" href="#">Listar</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Administração</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="usuario/insertUsuario">Cadastrar Usuário</a> 
							<a class="dropdown-item" href="usuario/listUsuario">Listar Usuários</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="role/insertRole">Cadastrar Permissões</a> 
							<a class="dropdown-item" href="role/listRole">Listar Permissões</a>
						</div>
					</li>
				</ul>
				
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar </button>
				</form>

				<form class="form-inline" action="#" th:action="@{/logout}" method="post">					
                   	<button class="btn btn-danger my-2 my-sm-0" type="submit">Sair </button>
                </form>
				
			</div>
		</nav>
	</header>
	
	<!-- Conteúdo da Pagina-->
	<main role="main" class="container">
	<!-- CONTEUDO A SER SUBSTITUÍDO -->
   		<div class="container" >
		    <div layout:fragment="content">Conteúdo das páginas filhas.</div>	
		</div>
	</main>
	<!-- Footer -->
	<footer class="footer bg-dark">
      <div class="container">
        <span class="text-light">2020 - Sistema Escolar</span>
      </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>